body{
    
    background-image: url(file:///C:/Users/finu.n/Desktop/ILP/LAB Works/picvideo/tesla.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header{
    display: grid;
}

.middle{
    text-align: center;
    margin-right: 300px;
}

nav a{
    text-decoration: none;
    padding:12px 12px;
    color:black;
    font-size: 20px;
}

nav a:hover{
    background-color: aliceblue;
    border-radius: 30px;
}



.last{
    text-align: center;
    margin-left: 900px;
}