body{
    
    background-image: url(file:///C:/Users/finu.n/Desktop/ILP/LAB%20Works/picvideo/tesla.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;

}

a{
    text-decoration: none;
}